p{
    color:rgb(3, 0, 0);
    font-size: large;
}
h1{
    color: crimson;
}
h2{
    color: rgb(246, 250, 14);
}
.special{
    color: rgb(139, 0, 116);
    font-weight: bold;
    font-size: large;
}
a:hover{
    color: blueviolet;
    text-decoration: none;
}
h2{
    background-color: rgb(3, 2, 0);
}
h1{
    background-color: black;
}
.background {
    background-image: url("sandyy.jpg");
    height: 1000px;
    width: 100px;
}